@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model; // Safari <= 5
     -moz-box-sizing: @box-model; // Firefox <= 19
          box-sizing: @box-model
}
.container-fluid{
	max-width: 100%;
}
header {
	border-bottom: 2px;
	border-bottom-color: #C0C0C0;
	border-bottom-style: solid;
	margin: 20px;
	color: purple !important;
}
#main{
	border-bottom: 2px;
	border-bottom-color: #C0C0C0;
	border-bottom-style: solid;
	margin: 20px;
	margin-top: 20px;
}
#about{
	font-size: 30px !important;
	color: #4B0082 !important;
	text-align: center !important;
}
#first_about{
	font-size: 24px !important;
	color: #9932CC !important;
	text-align: center !important;
	
}
#second_about{
	font-size: 24px !important;
	color: #BA55D3 !important;
	text-align: center !important;
	
	
}
#third_about{
	font-size: 24px !important;
	color: #DA70D6!important;
	text-align: center !important;
	margin-bottom: 20px !important;
	
	
}
#press_play{
	color: #C0C0C0 !important;
	text-align: center !important;
	font-size: 13vw !important;
	text-shadow: 0px 0px 94px pink !important;
	
}
#logo{
	height: 108px;
	width: 108px;
	border-bottom: solid 3px white;
	
}
#square {
	object-fit
	width: 100% !important;
	height: auto !important;
	display: inline!important;
	
}
#square_pic{
	object-fill: fill !important;
	width: 100% !important;
	height: 280px !important;
	border: solid 5px purple !important;
}
body{
	background-color: #FFB6C1 !important;
	color: purple !important;

}
/* &#9654;*/




